.content {
	background-color: #ffffff;
	width: 940px;
	height: 545px;
	margin: 0 auto;
	margin-top: -15px;
}

.salutation {
	text-align: center;
	margin-top: 40px;
	color: #FF0000;
	font-family: "Comic Sans MS", Courier, monospace;
}

.box {
	white-space: nowrap;
}

.article1 {
	width: 520px;
	height: 505px;
	margin-left: 20px;
	margin-top: -20px;
	display: inline-block;
	vertical-align: top;
	font-family: "Comic Sans MS", Courier, monospace;
}

.fio {
	font-family: "Comic Sans MS", Courier, monospace;
}

.category {
	margin-top: -20px;
	font-size: 18px;
	font-family: "Comic Sans MS", Courier, monospace;
}

.education {
	margin-top: 40px;
}

.article2 {
	background-color: #ffffff;
	width: 400px;
	height: 475px;
	margin-left: 0px;
	display: inline-block;
	vertical-align: top;
}

.foto {
	margin-left: 40px;
	margin-top: 15px;
}

.footer {
	background-color: #ffffff;
	width: 960px;
	height: 75px;
	margin: 0 auto;
	margin-top: 0px;
}