.wrapper {
	background-color: #ffffff;
	width: 960px;
	height: 1300px;
    margin: 0 auto;
    box-shadow: 0px 0px 120px #000000;
    border-radius: 5px;
}

.content {
	background-color: #ffffff;
	width: 940px;
	height: 545px;
	margin: 0 auto;
	margin-top: -15px;
}

.box {
	white-space: nowrap;
	margin-top: 60px;
}

.article1 {
	width: 520px;
	height: 505px;
	margin-left: 20px;
	margin-top: -20px;
	display: inline-block;
	vertical-align: top;
	font-family: "Comic Sans MS", Courier, monospace;
}

.fio {
	font-family: "Comic Sans MS", Courier, monospace;
}

.category {
	margin-top: -20px;
	font-size: 18px;
	font-family: "Comic Sans MS", Courier, monospace;
}

.education {
	margin-top: 40px;
}

.article2 {
	background-color: #ffffff;
	width: 400px;
	height: 475px;
	margin-left: 0px;
	display: inline-block;
	vertical-align: top;
}

.foto {
	margin-left: 40px;
	margin-top: 15px;
}

.hr {
	width: 700px;
	margin-top: 40px;
}

.main-honors {
	/*background-color: #006666;*/
	width: 900px;
	height: 350px;
	position: absolute;
	margin-top: 40px;
}

.honor-one {
	/*background-color: #ff0000;*/
	width: 250px;
	height: 320px;
	margin-top: 5px;
	margin-left: 30px;
	display: inline-block;
}

.honor-two {
	/*background-color: #ff0000;*/
	width: 250px;
	height: 320px;
	margin-top: 5px;
	margin-left: 50px;
	display: inline-block;
}
.honor-three {
	/*background-color: #ff0000;*/
	width: 250px;
	height: 320px;
	margin-top: 5px;
	display: inline-block;
	margin-left: 60px;
}

/*.footer {
	background-color: #ffffff;
	width: 960px;
	height: 75px;
	margin: 0 auto;
	margin-top: 0px;
}*/

.honor-foto-one {
	margin-top: 10px;
	margin-left: 10px;
	position: absolute;
}

.honor-foto-two {
	margin-top: 10px;
	margin-left: 10px;
	position: absolute;
}

.honor-foto-three {
	margin-top: 10px;
	margin-left: 20px;
	position: absolute;
}