.content {
	width: 870px;
	height: 450px;
	color: #000000;
	margin-top: 70px;
	margin-left: 70px;
	font-size:  21px;
	font-family: "Comic Sans MS", Courier, monospace;
}

.work-link {
	color: #000000;
}