.content {
	/*background-color: #006666;*/
	width: 940px;
	height: 700px;
	margin-left: 10px;
}

p {
	font-size: 22px;
	margin-left: 60px;
}

.lecture-one {
	background-color: #f1f4f8;
	border: 1px solid #cedbe7;
	border-radius: 4px;
	width: 820px;
	height: 205px;
	margin-left: 60px;
}

.video {
	/*background-color: #006666;*/
	width: 300px;
	height: 195px;
	margin-top: 5px;
	margin-left: 5px;
	display: inline-block;
}

.info {
	/*background-color: #FF0000;*/
	width: 495px;
	height: 155px;
	margin-top: -180px;
	margin-left: 320px;
}

.title {
	/*background-color: #00CED1;*/
	width: 450px;
	height: 35px;
	margin-top: 10px;
	margin-left: 5px;
	display: inline-block;
}

.link-info {
	color: #698cb0;
	text-decoration: underline;
	font-size: 22px;
}

.subtitle {
	/*background-color: #00CED1;*/
	width: 450px;
	height: 35px;
	margin-top: 1px;
	margin-left: 5px;
	display: inline-block;
}

.p-subtitle {
	color: #698cb0;
	margin-left: -1px;
	margin-top: -1px;
	font-size: 18px;
	display: inline-block;
}

.link-sub {
	color: #698cb0;
	font-size: 20px;
	text-decoration: underline;
}

.description {
	/*background-color: #00CED1;*/
	width: 485px;
	height: 60px;
	margin-top: 4px;
	margin-left: 5px;
	display: inline-block;
}

.p-desc {
	color: #698cb0;
	font-size: 15px;
	margin-left: 1px;
	margin-top: 2px;

}