body {
	background: url(../images/3.jpg);
	height: 100%; 
	width: 100%;
}
	
#wrapper {
	background-color: #f5f5f5;
	width: 960px;
	height: 1000px;
    margin: 0 auto;
    border: 5px dashed #088A85;
}

#header {
	background-color: #fffafa;
	width: 960px;
	height: 260px;
    margin: 0 auto;
    margin-top: -25px;
}

#nav_horizontally {
	width: 960px;
	height: 50px;
	background-color: #088A85;
	margin-top: -15px;
	line-height: 50px;
}

/*#content {
	background-color: #fffafa;
	width: 960px;
	height: 860px;
	border: 1px;
}*/

#logo4 {
	text-align: center;
	margin-top: -40px;
}

h2 {
	text-align: center;
}

#h2_header {
	font-family: Courier, "Courier New", monospace;
	font-size: 2em;
	line-height: 200%;
	letter-spacing: 0.25em;
	color: #088A85;
	text-shadow: 1px 1px 3px #666666;
}

#h2_footer {
	font-family: Courier, "Courier New", monospace;
	font-size: 2.35em;
	line-height: 200%;
	letter-spacing: 0.15em;
	color: #088A85;
	margin-top: -1px;
	text-shadow: -1px -3px #666666;
}

a:hover, a.on {
	color: #ff0000;
}

a {
	color: #FBF8EF;
}

li {
	display: inline;
	margin: 25px;
	font-family: "Courier New", Courier, monospace;
	font-size: 1.22em;
}
