body {
	background: url(../images/3.jpg);
	height: 100%; 
	width: 100%;
}
	
#wrapper {
	background-color: #f5f5f5;
	width: 960px;
	height: 100%;
    margin: 0 auto;
    border: 2px solid #666666;
}

#header {
	background-color: #fffafa;
	width: 960px;
	height: 260px;
    margin: 0 auto;
    margin-top: -25px;
}

#logo4 {
	text-align: center;
	margin-top: -40px;
}

h2 {
	text-align: center;
}

#h2_header {
	font-family: Courier, "Courier New", monospace;
	font-size: 2em;
	line-height: 200%;
	letter-spacing: 0.25em;
	color: #3cb371;
	text-shadow: 1px 1px 3px #666666;
}

#h2_footer {
	font-family: Courier, "Courier New", monospace;
	font-size: 2.35em;
	line-height: 200%;
	letter-spacing: 0.15em;
	color: #3cb371;
	margin-top: -1px;
	text-shadow: -1px -3px #666666;
}

#nav_horizontally {
	width: 960px;
	height: 60px;
	border-style:  solid;
	border-width: 1px 0px 0px 0px;
}

#nav_horizontally_2 {
	width: 850px;
	height: 50px;
	margin: 0 auto;
	margin-top: 35px;
}	

a:hover, a.on {
	color: #3cb371;
}

li {
	display: inline;
	margin: 25px;
	font-family: "Courier New", Courier, monospace;
	font-size: 1.20em;
}