body {
	background: url(../images/3.jpg);
	height: 100%; 
	width: 100%;
}
	
#wrapper {
	background-color: #fffafa;
	width: 960px;
	height: 1100px;
    margin: 0 auto;
    box-shadow: 2px 2px 3px 7px #ffffff;
}

#header {
	background-color: #ffffff;
	width: 960px;
	height: 300px;
    margin: 0 auto;
    margin-top: 55px;
}

#apple {
	text-align: center;
	margin-top: -40px;
}

#nav_horizontally {
	width: 960px;
	height: 50px;
	background-color: #088A85;
	margin-top: -15px;
	line-height: 50px;
	box-shadow: 2px 2px 3px 6px #088A85;
}

#nav_horizontally2 {

}


/*#content {
	background-color: #fffafa;
	width: 960px;
	height: 860px;
	border: 1px;
}*/

a:hover, a.on {
	color: #ff0000;
}

a {
	color: #FBF8EF;
}

li {
	display: inline;
	margin: 25px;
	font-family: "Comic Sans MS", Courier, monospace;
	font-size: 1.45em;
}

h1 {
	text-align: center;
	margin-top: 40px;
	color: #ff0000;
}