body {
	background: url(../images/3.jpg);
	height: 100%; 
	width: 100%;
}
	
.wrapper {
	background-color: #fffafa;
	width: 960px;
	height: 1000px;
    margin: 0 auto;
    box-shadow: 0px 0px 120px #000000;
    border-radius: 5px;
}

.header {
	background-color: #ffffff;
	width: 940px;
	height: 300px;
    margin: 0 auto;
    margin-top: 55px;
}

.apple {
	text-align: center;
	margin-top: -40px;
}

.nav-level1-wrapper {
	width: 958px;
	height: 50px;
	background-color: #088A85;
	margin-top: -15px;
	line-height: 50px;
	box-shadow: 0px 0px 10px #000000;
	border-radius: 3px;
}

.nav-level1 {
	margin: 25px;
	font-family: "Comic Sans MS", Courier, monospace;
	font-size: 1.45em;
	text-shadow: 1px 1px 1px;
	margin-top: -15px;
	display: inline;
}


.nav-level2 {
	position: absolute;
	width: 958px;
	height: 50px;
	background-color: #088A85;
	margin-top: 50px;
	margin-left: 207px;
	box-shadow: 0px 0px 10px #000000;
	border-radius: 3px;
}

.nav-level2 {
	display: inline;
	margin: 10px;
}



a:hover {
	color: #ff0000;
}

a {
	color: #FBF8EF;
}