.navigation2 {
	width: 325px;
	height: 260px;
	background-color: #006666;
	position: absolute;
	display: none;
	margin-left: 50px;
	margin-top: 1px;
	box-shadow: 0px 0px 8px #000000;
}

.nav-level2-ul {
	list-style: none;
	margin-left: 15px;
	padding: 10px;
	font-family: "Comic Sans MS", Courier, monospace;
	font-size: 19px;
	margin-top: -5px;
}